.container {
	display: flex;
	flex-direction: column;
}

.container a {
	text-decoration: none;
}

body {
	margin: 0px;
	padding: 0px;
}

/*------HEADER------*/

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-top: 15px;
	padding-bottom: 15px;
	box-shadow: 0px 1px 25px #DCDCDC;
	width: 100%;
}

.header-logo {
	width: 110px;
	padding-left: 70px;
}

.navigation {
	display: flex;
	list-style: none;
	margin:	0px;
	padding: 0px;
	font-family: 'Merriweather', serif;
	/*color: #FD907A;*/
	font-size: 14px;
	letter-spacing: .6px;
	padding-right: 70px;
}

.navigation a {
	text-decoration: none;
}

.navigation__link:hover {
	color: #191970;
}

.navigation__item {
	padding-left: 30px;
	padding-right: 30px;
}

.navigation__link {
	color: #FD907A;
	text-decoration: none;
}

.navigation__link--currentPage {
	color: #191970;
	text-decoration: none;
}

.navigation__item--booking {
	background-color: #FD907A;
	color: white;
	border-radius: 25px;
	padding: 15px 40px;
}


/*-----SERVICES PAGE-----*/

.services {
	margin-right: 120px;
	margin-left: 120px;
}

.services-block {
	display: flex;
	justify-content: space-between;
	margin-top: 75px;
	padding-bottom: 75px;
	width: 100%;
}

.services-block:first-child {
	border-bottom: .5px solid #DCDCDC;
}

.content {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 300px;
}

.content__image {
	width: 415px;
	padding-bottom: 25px;
}

.content__decorative-img {
	width: 165px;
	padding-top: 15px;
	padding-bottom: 15px;
}

.content__title {
	font-size: 18px;
	font-family: Arial;
	color: #FD907A;
}

.content__description {
	font-family: Arial;
	font-size: 14px;
	color: #696969;
	text-align: center;
	line-height: 20px;
	width: 415px;
}


/*-----STAFF PAGE-----*/

.salon-team {
	font-family: 'Merriweather:300', serif;
	color: #191970;
	font-size: 40px;
	margin-top: 50px;
	text-align: center;
}

.salon-staff {
	width: 100%;
}

.salon-staff__block {
	display: flex;
	justify-content: space-between;
	margin-top: 75px;
	margin-left: 70px;
	margin-right: 70px;
	padding-bottom: 75px;
}

.salon-staff__content {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	width: 300px;
}

.salon-staff__image {
	width: 100%;
}

.salon-staff__name {
	margin-top: 20px;
	font-size: 18px;
	font-family: Arial;
	color: #FD907A;
}

.salon-staff__title {
	margin-top: 10px;
	font-family: Arial;
	font-size: 14px;
	color: #A9A9A9;
}

.salon-staff__bio {
	margin-top: 20px;
	font-family: Arial;
	font-size: 14px;
	color: #696969;
	text-align: left;
	line-height: 23px;
	width: 100%;
}

.social-icons {
	margin-top: 25px;
}

.social-icons__image {
	width: 40px;
	color: #FD907A;
}

.contact-us {
	font-family: 'Merriweather:300', serif;
	color: #191970;
	font-size: 25px;
	margin-top: 50px;
	text-align: center;
}

.contact-us__form {
	display: flex;
	flex-direction: column;
	font-family: Arial;
	font-size: 14px;
	color: #696969;
	padding-top: 30px;
	margin-left: 70px;
	margin-right: 70px;
	margin-bottom: 150px;
}

.contact-us__top {
	display: flex;
}

.column {
	width: 100%;
}

.contact-us__top-left {
	width: 90%;
}

.contact-us__top-right {
	width: 100%;
}

.contact-us__top-left,
.contact-us__top-right {
	background-color: #F0F0F0;
	border-width: 0px;
	height: 35px;
	border-radius: 15px;
	margin-bottom: 20px;
	margin-top: 10px;
}

.contact-us__email {
	background-color: #F0F0F0;
	border-width: 0px;
	height: 35px;
	border-radius: 15px;
	margin-top: 10px;
	margin-bottom: 20px;
}

.contact-us__message{
	background-color: #F0F0F0;
	border-width: 0px;
	border-radius: 15px;
	width: 100%;
}

.contact-us__submit {
	font-family: Arial;
	font-size: 14px;
	width: 10%;
	background-color: #FD907A;
	color: white;
	border-radius: 25px;
	padding: 15px 40px;
	border-width: 0px;
}


/*-----CONTACTS PAGE-----*/

.contact-wrapper {
	display: flex;
	align-content: flex-start;
	justify-content: space-between;
	margin-top: 50px;
	margin-right: 70px;
	margin-left: 70px;
}

.find-us {
	margin-top: 20px;
}

.find-us__text {
	font-family: 'Merriweather:300', serif;
	color: #191970;
	font-size: 25px;	
}

.contacts-main {
	padding-bottom: 45px;
	margin-top: 15px;
}

.contacts-main a {
	color: #FD907A;
	text-decoration: none;
}

.contact-info-main {
	margin-left: 38px;
}

.booking-button {
	font-family: Arial;
	background-color: #FD907A;
	color: white;
	border-radius: 25px;
	padding: 15px 40px;
	font-size: 15px;
}

.contact-us-page {
	width: 80%;
	margin-right: -68px;
	margin-top: -30px;
}

.contact-us-page__text {
	font-family: 'Merriweather:300', serif;
	color: #191970;
	font-size: 25px;
	margin-top: 50px;
	text-align: center;
}

.contact-us-page__form {
	display: flex;
	flex-direction: column;
	font-family: Arial;
	font-size: 14px;
	color: #696969;
	padding-top: 30px;
	margin-left: 70px;
	margin-right: 70px;
	margin-bottom: 150px;
}

.contact-us-page__top {
	display: flex;
}

.column {
	width: 100%;
}

.contact-us-page__top-left {
	width: 90%;
}

.contact-us-page__top-right {
	width: 100%;
}

.contact-us-page__top-left,
.contact-us-page__top-right {
	background-color: #F0F0F0;
	border-width: 0px;
	height: 35px;
	border-radius: 15px;
	margin-bottom: 20px;
	margin-top: 10px;
}

.contact-us-page__email {
	background-color: #F0F0F0;
	border-width: 0px;
	height: 35px;
	border-radius: 15px;
	margin-top: 10px;
	margin-bottom: 20px;
}

.contact-us-page__message{
	background-color: #F0F0F0;
	border-width: 0px;
	border-radius: 15px;
	width: 100%;
}

.contact-us-page__submit {
	font-family: Arial;
	font-size: 14px;
	width: 20%;
	background-color: #FD907A;
	color: white;
	border-radius: 25px;
	padding: 15px 40px;
	border-width: 0px;
	text-align: center;
}

.google-map {
	max-width: 100%;
}


/*-----PRICING PAGE-----*/

.pricing-wrapper {
	margin-top: 50px;
	margin-right: 70px;
	margin-left: 70px;
}

.pricing-wrapper a {
	text-decoration: none;
}

.pricing-block {
	display: flex;
	justify-content: space-between;
	align-content: center;
	margin-top: 75px;
	padding-bottom: 75px;
	width: 100%;

}

.pricing-block__service {
	padding: 30px 30px 20px 30px;
	margin-bottom: 30px;

}

.pricing-block__service--special {
	padding: 30px 30px 20px 30px;
	background-color: #FD907A;
	color: white; 
}

.pricing-block__title {
	font-family: 'Merriweather:300', serif;
	font-size: 25px;
	text-align: center;
	color: #696969;
	padding-bottom: 40px;
}

.pricing-block__title--special {
	font-family: 'Merriweather:300', serif;
	font-size: 25px;
	text-align: center;
	color: white;
	padding-bottom: 40px;
}

.pricing-block__price {
	font-family: Arial;
	font-size: 60px;
	color: #FD907A;
	text-align: center;
}

.pricing-block__price--special {
	font-family: Arial;
	font-size: 60px;
	color: white;
	text-align: center;
}

.pricing-block__price-sub {
	font-family: Arial;
	font-size: 12px;
	color: #696969;
	text-align: center;
	padding-bottom: 40px;
	letter-spacing: 2px;
}

.pricing-block__price-sub--special {
	font-family: Arial;
	font-size: 12px;
	color: white;
	text-align: center;
	padding-bottom: 40px;
	letter-spacing: 2px;
}

.pricing-block__description {
	font-family: Arial;
	font-size: 14px;
	color: #696969;
	text-align: center;
	padding-bottom: 40px;
}

.pricing-block__description--special {
	font-family: Arial;
	font-size: 14px;
	color: white;
	text-align: center;
	padding-bottom: 40px;
}

.booking-button--price {
	font-family: Arial;
	background-color: #FD907A;
	color: white;
	border-radius: 25px;
	padding: 15px 40px;
	font-size: 15px;
}

.booking-button--special {
	font-family: Arial;
	background-color: white;
	color: #191970;
	border-radius: 25px;
	padding: 15px 40px;
	font-size: 15px;
}

.callnow-block {

}

.callnow-block__title {

}

.callnow__number {

}

.callnow__cost {

}

.callnow__cost-sub {

}

.callnow__duration {

}

.comments-block {

}

.comments-block__header {

}

.comments-block__quote {

}

.comments-block__comment {

}

.comments-block__customerName {

}

.services-price-block {

}

.services-price-block__title {

}

.service {

}

.service-title {

}

.services-button {
	font-family: Arial;
	background-color: #FD907A;
	color: white;
	border-radius: 25px;
	padding: 15px 40px;
	font-size: 15px;
}


/*-----FOOTER-----*/

.footer {
	background-color: #FCFBF4;
	padding-top: 100px;
	width: 100%;
}

.footer-logo {
	display: block;
	margin-right: auto;
	margin-left: auto;
	width: 145px;
	padding-bottom: 25px;
}

.contacts {
	display: flex;
	justify-content: space-around;
	padding-bottom: 65px;
	margin-top: 15px;
}

.contacts a {
	color: #FD907A;
	text-decoration: none;
}

.contact-info {
	display: flex;
	align-items: flex-start;
	flex-direction: column;

}

.contact-info__image {
	position: relative;
	top: 18px;
	right: 35px;
	color: #FD907A;
}

.contact-info__title {
	font-family: 'Lustria', serif;
	font-size: 16px;
	color: #191970;
	letter-spacing: .5px;

}

.contact-info__detail {
	font-family: Arial;
	font-size: 15px;
	color: #A9A9A9;
	padding-top: 5px;
	line-height: 20px;
}

.privacy-policy {
	display: flex;
	justify-content: center;
	background-color: #FCFBF4;
	border-top: .5px solid #DCDCDC;
	font-family: Arial;
	font-size: 10px;
	color: #A9A9A9;
	padding: 15px 0px 15px 0px;
	width: 100%;
}